#if(!$!error)
<script>
jQuery.validator.addMethod("mobile_telephone",function(value,element){
  if(jQuery("#telephone").val()==""&&jQuery("#mobile").val()==""){
     return false;
	 
  }else return true;
});
jQuery(document).ready(function(){
  //								
 jQuery("#theForm").validate({
	ignore: "",
    rules:{
	  trueName:{required :true},
	  area_id:{required :true},
	  area_info:{required :true},
	  zip:{required :true,isZipCode:true},
	  mobile:{mobile_telephone:true,isMobile:true},
	  telephone:{isTel:true}
	 },
	messages:{
	  trueName:{required :"收货人不能为空"},
	  area_id:{required :"请选择详细区域"},
	  area_info:{required :"详细地址不能为空"},
	  zip:{required :"邮政编码不能为空",isZipCode:"请正确填写邮政编码"},
	  mobile:{mobile_telephone :"联系电话、手机至少填写一项",isMobile:"请正确填写手机号码"},
	  telephone:{isTel:"请正确填写电话号码"}
	},
	errorPlacement: function(error, element){ 
	  if(jQuery(error[0]).html()!=""){
		 element.parent().remove(".error_ts");
		 element.parent().append("<div class='error_ts'></div>");
         error.appendTo(element.parent().find(".error_ts"));
	  }
    },
	success:function(label){
	    jQuery(label).parent().remove(".error_ts");
	},
	submitHandler:function(){
	     var params = jQuery("#theForm").serialize();
		 jQuery.ajax({type:'POST',url:'$!webPath/cart_address_save.htm',data:params,
					  success:function(ret){
						jQuery(".shopping_address_one_top_add").parent().find("ul").remove();   
						jQuery(".shopping_address_one_top_add").parent().append(ret);
						jQuery(".shopping_address_one_top_add").slideUp(2000);
					    jQuery(".shopping_address_one_top_add").remove();
		 }});
	}
  });
    //
 jQuery("select").change(function(){
     var level=jQuery(this).attr("level");
	 var id=jQuery(this).val();
	 jQuery("#area_id").val("");
	 for(var i=4;i>level;i--){
	  jQuery("#area"+i).empty();
	  jQuery("#area"+i).append("<option value=''>请选择</option>");
	 }
	 if(id!=""){
	  jQuery.post("$!webPath/load_area.htm",{"pid":id},function(data){
	     jQuery("#area"+level).empty();
		  jQuery("#area"+level).append("<option value=''>请选择</option>");
	      jQuery.each(data, function(index,item){
		    jQuery("#area"+level).append("<option value='"+item.id+"'>"+item.areaName+"</option>");
		  });
	  },"json");
	 }else{
	   for(var i=level;i<=4;i++){
	    jQuery("#area"+i).empty();
	   }
	 }
  });
 //
 jQuery("#area3").change(function(){
   var id=jQuery(this).val();
   jQuery("#area_id").val(id);
 });
    //
   jQuery(".shopping_address_one_left").click(function(){
	  jQuery(".shopping_address_one_top_add").remove();												   
   });
   //保存数据
   jQuery(".shopping_address_one_right a").click(function(){
       jQuery("#theForm").submit();	 
   });
});
</script>
<div class="shopping_address_one_top_add" style="display:;">
<form action="$!webPath/cart_address_save.htm" method="post" name="theForm" id="theForm">
  <div class="shopping_address_one_top_input">
    <ul>
      <li class="shopping_address_one_top_i"><input name="id" type="hidden" id="id" value="$!obj.id" />
        <input name="trueName" type="text" id="trueName" value="$!obj.trueName" placeholder="请输入收货人姓名"  />
      </li>
      <li class="shopping_address_one_tel_i">
        <input name="telephone" type="text" id="telephone" value="$!obj.telephone" placeholder="请输入收货人电话"  />
      </li>
      <li class="shopping_address_one_tel_i">
        <input name="mobile" type="text" id="mobile" value="$!obj.mobile" placeholder="请输入收货人手机号码"  />  
      </li>
      <li class="shopping_address_one_address_i">
        <select name="area1" id="area1" level="2">
          <option value="">省份/自治区</option>
          #foreach($area in $areas)           
          <option value="$!area.id" #if($!area.id==$!obj.area.parent.parent.id) selected="true" #end>$!area.areaName</option>
           #end          
        </select>
        <select name="area2" id="area2" level="3">
         #foreach($area in $obj.area.parent.parent.childs)                     
          <option value="$!area.id" #if($!area.id==$!obj.area.parent.id) selected="true"#end>$!area.areaName</option>
         #end                    
        </select>
        <select name="area3" id="area3" level="4">
         #foreach($area in $$obj.area.parent.childs)                     
          <option value="$!area.id" #if($!area.id==$!obj.area.id) selected="true"#end>$!area.areaName</option>
         #end                    
        </select>
        <input id="area_id" name="area_id" type="hidden" value="$!obj.area.id" />
      </li>
      <li class="shopping_address_one_address_a_i">
        <textarea name="area_info" cols="2" rows="" id="area_info" placeholder="路名或街道地址，门牌号">$!obj.area_info</textarea>
        </textarea>
      </li>
      <li class="shopping_address_one_coding_i">
        <input name="zip" type="text" id="zip" value="$!obj.zip" placeholder="邮政编码"  />
       
      </li>
      <li class="shopping_address_one_left"><a href="javascript:void(0);">取消编辑地址</a></li>
      <li class="shopping_address_one_right"><a href="javascript:void(0);" id="confirm_address" addr_id="$!obj.id">确认收货地址</a></li>
    </ul>
  </div>
</form>
</div>
#end