@charset "utf-8";
/* CSS Document */

/***积分商城***/
.integral_left { width:206px; float:left; border:2px solid #ffd4af; background-color:#fff6e7;}
.integral_right { width:787px; float:right;} 

/***积分商城-左侧***/
.integral_left h1 { background-color:#ffd4af; height:24px; padding:5px 10px; line-height:24px; color:#c11c1c;}
.inte_login { height:30px; line-height:30px;}
.inte_login_btn { width:85px; height:24px; line-height:24px; border-radius:4px; text-align:center; background:#b3000f;
 background: -moz-linear-gradient(top, #e70013, #b3000f);
 background:-o-linear-gradient(top,#e70013, #b3000f);
 background:-webkit-linear-gradient(top,#e70013, #b3000f);
 float:left; color:#FFF;
 }
.inte_login_btn:hover { color:#FFF;}
.my_inte { width:186px; height:76px; background:url(../images/integral/my_inte_bg.jpg) no-repeat top center; padding:10px;}
.my_inte ul li { width:196px; font-size:14px;  line-height:30px;}
.my_inte ul li em{ font-style:normal; float:left; width:50px; float:left; display:block;}
.my_inte ul li span{ width:136px; display:block; float:left;}
.my_inte ul li span img { float:left;}
.my_inte ul li .level { font-size:12px; float:left; padding-left:10px; color:#999;}
.my_inte ul li b{ width:136px; display:block; float:left; color:#C11C1C; font-size:16px;}
.inte_detail { padding:10px;}
.inte_detail ul li { height:30px; line-height:30px; padding-left:15px; background:url(../images/integral/inte_icon.gif) no-repeat left center;}
.inte_arrow { width:100%; height:18px; background:url(../images/integral/inte_arrow.jpg) no-repeat left center;}
.inte_choose { padding:10px;}
.inte_choose ul li { height:30px; line-height:30px; border-bottom:1px solid #ffd4ae; background:url(../images/integral/inte_xx.png) no-repeat left center; padding-left:20px;}
.inte_rank { width:186px; padding:10px; float:left;}
.inte_rank h3{ margin-bottom:5px; font-size:12px; white-space:nowrap; overflow:hidden;}
.inte_rank  b { height:21px; width:21px; line-height:21px; text-align:center; border-radius:20px; background-color:#999; margin-right:5px; float:left; color:#FFF;}
.li_list { width:186px; float:left; margin-bottom:10px;}
.li_list:hover b {background-color:#c11c1c}
.li_hover { width:186px; height:80px; float:left; padding:5px 0px;}
.li_hover_img { width:80px; height:80px; float:left;}
.li_hover_img img { width:78px; height:78px; border:1px solid #c11c1c;}
.inte_price { width:101px; padding-left:5px; float:left; line-height:30px;}
.inte_price span { width:101px; float:left; line-height:24px; white-space:nowrap;}
/* 大幻灯 */
.slideBox{ width:785px; height:310px; overflow:hidden; position:relative; border:1px solid #ddd; float:left; }
.slideBox .hd{ height:35px; overflow:hidden; position:absolute; right:5px; bottom:0px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; padding:5px; border-radius:50%; margin-right:10px; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:785px; height:310px; display:block;  }
/***积分商城-右侧***/
.inte_banner { width:785px; height:310px; border:1px solid #ffd4ae; overflow:hidden;}
.inte_slide { width:785px; height:310px; float:left;}
.inte_advert { width:190px; height:310px; float:right;}
.inte_advert img { width:190px; height:310px;}
.integral_right h2 { margin-top:15px; color:#F60; border-bottom:2px solid #F60; padding-bottom:5px;}
.integral_right h2 b { font-size:18px; height:24px; line-height:24px; border-left:3px solid #F60; padding-left:10px;}
.integral_right h2 a { float:right;}
.inte_list_box { width:770px; overflow:hidden; border:1px solid #ffd4ae; padding:15px; padding-right:0px;}
.inte_list { width:700px;}
.inte_list ul { width:220px; height:290px; float:left; margin-right:13px; display:block; margin-bottom:15px;}
.inte_list ul li { width:200px; float:left; padding:10px;}
.recom_img { width:198px; position:relative; border:1px dotted #ffd4ae;}
.recom_img span { width:198px; height:24px; line-height:24px; float:left; text-align:center; font-size:14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.recom_img em { width:20px; height:15px; position:absolute; top:-8px; left:-8px; background:url(../images/integral/scissor.png) no-repeat;}
.inte_number { height:30px; padding:5px 0px;}
.inte_number span { float:left;}
.inte_number b { font-size:16px; color:#F60; margin-right:5px;}
.inte_number a { padding:5px 10px;margin-top: 5px; font-size:14px; background-color:#F60; border-radius:4px; text-align:center; color:#FFF; float:right;}
.inte_number .bg_gray { background-color:#999;}
.inte_number .bg_gray:hover { background-color:#8a8a8a;}
.inte_number a:hover { background-color:#ff5a00;}

/***积分商城-列表***/
.integral_select{ border:1px solid #ddd; padding:10px; overflow:hidden}
.integral_select dt{ background:#ff4400; height:25px; line-height:25px; color:#fff; float:left; width:10%;}
.integral_select dt span{ padding-left:10px; padding-right:10px; float:left;} 
.integral_select dd{ float:left; width:90%;}
.integral_select dd ul{ padding-left:20px;}
.integral_select dd ul li{ float:left; margin-right:10px; line-height:25px; padding-left:15px; padding-right:15px; background:url(../images/integral/clali.jpg) no-repeat left center}
.integral_select dd ul .this{ background:#F96; }
.integral_select dd ul .this a{color:#900}

.level_img { width:24px; float:left;}
.level_num { width:110px; float:left; padding-left:10px;}
.level_num strong { width:110px; float:left; font-weight:normal; margin-bottom:5px;}
.level_num b {width:110px; font-size:14px;}

/***积分商城-分页***/
.exc_list{ overflow:hidden;  width:100%;}
.exc_list .goods_one{ margin-left:10px;}
.ext_page{overflow:hidden;  width:100%; padding-top:10px; padding-bottom:10px; text-align:center}
.ext_page span{ padding-top:5px; padding-bottom:5px;}
.ext_page span b{padding:2px 6px; margin-left:5px; background:#E6E6E6; border:1px solid #ccc;}
.ext_page span b.this{ background:#F60; color:#fff;}
.ext_page span a{padding:2px 6px; margin-left:5px; background:#fff; border:1px solid #ccc;}
.ext_page span a:hover{ background:#F60; color:#000;}
.ext_page span a.this{ background:#F60; color:#fff;}

.main { width:1002px; margin:10px auto;}
@media screen and (min-width:800px) and (max-width:1024px){
.main { width:1002px;  margin:10px auto;}
.integral_left { width:206px;}
.integral_right { width:787px;}
.inte_banner { width:785px; overflow:hidden;}
.inte_list_box { width:770px;}
.inte_list { width:700px;}
.inte_list ul { margin-right:13px;}
}

@media screen and (min-width:1024px) {
.main { width:1200px;  margin:10px auto;}
.integral_left { width:206px;}
.integral_right { width:985px;}
.inte_banner { width:983px;}
.inte_list_box { width:968px;}
.inte_list { width:983px;}
.inte_list ul { margin-right:22px;}
}
.inte_choose ul .this { background-color:#F90;}
.inte_choose ul .this a { color:#FFF;}


/***积分商城-详细页***/
.index{ width:1200px;  clear:both}
.integ_details{ width:938px; float:left; margin-right:10px; margin-top:10px;}
.details_in{ width:938px; float:left; overflow:hidden;}
.details_in h1{ color:#000; line-height:30px; border-bottom:1px dotted #CCCCCC; font-size:18px; float:left; width:938px;}
.integ_img{ border:1px solid #E0E0E0; width:384px; height:384px; margin-right:7px; float:left; margin-top:7px;}
.integ_img img{ width:384px; height:384px; }
.detailsul{ float:left; width:544px; overflow:hidden; margin-top:7px;}
.detailsul li{ padding-top:8px; padding-bottom:8px; float:left; width:544px; border-bottom:1px dotted #ccc;}
.detailsul li span{ display:block; float:left; margin-left:12px; line-height:20px; _margin-left:6px;} 
.detailsul li .detulsp{ width:70px; padding-left:5px; border-right:1px dotted #ccc;}
.detailsul li span strong{ color:#DC143C;}
.detailsul li span b{ color:#000; font-weight:bold} 
.font_size{ font-size:16px;}
.detula{ margin-left:15px;}
.txt_detul input{ width:33px; height:18px; line-height:18px; border:1px solid #CCCCCC; margin-right:10px;}
.detailsul em{ color:#F90; padding-left:5px; padding-right:5px;} 
.detspan{ text-decoration:none;}
.detspan input{ background:url(../images/integral/changed.jpg) no-repeat; width:120px; height:38px; color:#FFF; margin-left:90px; padding-left:30px; font-size:16px; border:0px; _margin-left:100px;}
.detst{ width:342px; margin-bottom:5px; padding-left:5px;}
.detqtxt input{ background:#EBEBE4; border:1px solid #7F9DB9; line-height:22px; height:22px; margin-right:10px; width:237px; background:#EBEBE4; float:left;}
.detqbtn input{ background:url(../images/integral/copy.jpg) no-repeat; width:80px; height:24px; line-height:24px; text-align:center; border:0px; float:left;}
.collection{ display:block; float:left; margin-top:3px; margin-left:14px; _margin-left:7px;}
.eny_a{ margin-top:5px; margin-left:5px; margin-right:5px; display:block; float:left;}

.gift_explain{ width:938px; overflow:hidden; float:left;}
.gift_explain h1{ background:url(../images/integral/gift.jpg) repeat-x; height:26px; line-height:26px; width:938px; margin-top:10px;}
.gift_explain h1 span{ display:block; background:url(../images/integral/giftexp.jpg) no-repeat; width:94px; height:27px; position:relative; margin-top:1px; text-align:center; line-height:26px; color:#F60; }
.explain_det{ border:1px solid #FD7722; width:915px; overflow:hidden; float:left; padding:10px;}
.gift_recode{ width:250px; border:1px solid #E4E4E4; float:left; margin-top:10px;}
.gift_recode h1{ background:url(../images/integral/recode.jpg) repeat-x; width:240px; height:31px; line-height:31px; color:#F60; padding-left:10px;}
.gift_recode ul{ width:240px; padding:5px; float:left; overflow:hidden}
.gift_recode ul li{width:240px; float:left; border-bottom:1px dashed #ccc; padding-top:5px; padding-bottom:5px; color:#989090} 
.gift_recode ul li span{ margin-bottom:3px; display:block; float:left; width:240px;}
.gift_recode ul li a{ color:#1175F0;}
.gift_recode ul li a:hover{ text-decoration:underline; color:#F60;}
.gift_recode ul li b{ float:right;}
.gift_recode ul li strong{ color:#FA0303;}

/***积分商城购物车***/
.inte_step{ width:1200px; overflow:hidden; float:left; margin-top:30px;}
.stepcenter{ padding-left:60px;}
.inte_step span{ display:block; float:left; margin-right:30px;margin-left: 32px;}
.inte_step1{ background:url(../images/integral/intestep1.jpg) no-repeat; width:263px; height:86px;}
.inte_step2{ background:url(../images/integral/intestep2.jpg) no-repeat; width:307px; height:86px;}
.inte_step3{ background:url(../images/integral/intestep3.jpg) no-repeat; width:248px; height:86px;}
.inte_step1a{ background:url(../images/integral/intestep1a.jpg) no-repeat; width:263px; height:86px;}
.inte_step2a{ background:url(../images/integral/intestep2a.jpg) no-repeat; width:307px; height:86px;}
.inte_step3a{ background:url(../images/integral/intestep3a.jpg) no-repeat; width:248px; height:86px;}
.integ_car{ width:1180px; padding:10px; border:1px solid #E4E4E4; margin-top:10px; float:left; overflow:hidden}
.integ_car h1{ margin-bottom:10px;}
.tntcartable{ width:100%; overflow:hidden; float:left; border-top:3px solid #C6BCBA; border-bottom:1px solid #C6BCBA;}
.intcar_table{ width:100%; overflow:hidden; float:left; border-collapse:collapse; border:0px;}
.intcar_table td{ border-bottom:1px solid #E8E8E8;padding-top:10px; padding-bottom:10px;}
.tabimg{ width:65px; height:65px; border:1px solid #ccc; display:block; overflow:hidden;}
.tabimg img{ width:65px; height:65px;} 
.intcar_thead{ background:#F5EEE8; height:30px; line-height:30px;}
.tabimg_name{ padding-top:10px; line-height:25px;}
.tabimg_name a{ color:#000;} 
.tabimg_name a:hover{ text-decoration:underline; color:#1C84F9;}
.intg_addnum{ position:relative;display:block; width:110px; height:30px; top:0px; *top:20px;}
.cut_num{ background:url(../images/integral/cutnum.gif) no-repeat; width:9px; height:9px; display:block; position:absolute; top:11px; left:25px;}
.add_num{ background:url(../images/integral/addnum.gif) no-repeat; width:9px; height:12px; display:block; position:absolute; top:11px; left:77px;}
.countertxt{ border:1px solid #ddd; width:30px; padding-left:0px; height:21px; line-height:21px; text-align:center; position:absolute; top:5px; left:38px;}
.integ_del{ background:url(../images/integral/del.gif) no-repeat; padding-left:20px; color:#295AD0;}
.integ_cost{ width:100%; overflow:hidden; float:left; padding-top:10px; font-size:14px;}
.integ_cost span{ float:right;}
.integ_cost span i{ margin-left:10px; margin-right:10px;} 
.integ_cost span i strong{ font-size:18px; color:#FD751D}
.integ_submit{width:100%; overflow:hidden; float:left; padding-top:10px;}
.integ_submit span{ float:right; position:relative; display:block; height:60px;}
.integ_submit span b a{ background:url(../images/integral/back.gif) no-repeat; padding-left:16px; color:#1C84F9; display:block;margin-right:10px;  position:absolute; right:0px; white-space:nowrap; line-height:13px;}
.integ_submit span b a:hover{ background:url(../images/integral/backa.gif) no-repeat; padding-left:16px; color:#666;}
.integ_submit span i a{ background:url(../images/integral/submit.jpg) no-repeat; width:131px; height:33px; color:#FFF; font-size:16px; border:0px;display:block; line-height:33px; text-align:center; position:absolute; right:0px; top:20px;}
.integ_submit span i a:hover{ background:url(../images/integral/submit.jpg) no-repeat; width:131px; height:33px; color:#FFF; font-size:16px; border:0px; float:left; display:block; line-height:33px;}
.integ_transport{ width:1180px; padding:10px; border:1px solid #E4E4E4; margin-top:10px; float:left; overflow:hidden; background:url(../images/integral/transportbg.jpg) repeat-y; }
.trans_left{ width:750px; float:left; overflow:hidden; padding-right:5px; position:relative}
.trans_right{ width:411px; float:left; overflow:hidden; padding-left:10px; position:relative;}
.trans_left h1{ width:750px; float:left; overflow:hidden}
.trans_sp{ background:url(../images/integral/transport.jpg) no-repeat; width:140px; height:40px; display:block; line-height:40px; position:relative; padding-left:22px;}
.transa{ background:url(../images/integral/transa.gif) no-repeat center center; width:16px; height:16px; display:block; position:absolute; top:13px; left:2px;}
.trans_ads{ width:750px; float:left; overflow:hidden; padding-top:10px; padding-bottom:10px;}
.trans_ads li{ width:750px; float:left; padding-top:10px;  padding-bottom:10px;}
.trans_ads li b{ display:block; float:left; width:16px; height:16px; margin-top:2px;*margin-top:-2px;  margin-left:10px; _margin-left:5px; margin-right:5px;}
.trans_ads li span{ display:block; float:left; overflow:hidden;}
.trans_ads .this{ background:#F4ECEC; border-bottom:1px solid #ccc;}
.transad{ width:410px; padding-right:5px;}
.transuser{ width:150px; padding-right:5px;}
.transtel{ width:130px; padding-right:5px; }
.transtable{ width:740px; float:left; overflow:hidden; padding-left:10px; padding-top:10px;}
.trans_table{ width:740px; border-collapse:collapse; border:0px;}
.trans_table td{ padding:10px; padding-left:0px; }
.trans_table strong{ color:#F00;}
.transtab_name{float:right;}
.transtab_int{ display:block; float:left; margin-right:10px; height:21px; border:1px solid #C2C8CF;}
.transtab_int input{ border:0px; border-top:1px solid #EBEBEB;border-left:1px solid #EBEBEB; height:19px; line-height:19px; *margin-top:-1px;}
.int_size1{ width:135px;}
.int_size1 input{ width:134px; color:#000;}
.trans_table b{ color:#9C9C9C; }
.trans_sel select{ width:135px; margin-right:10px;}
.int_size2{ width:300px;}
.int_size2 input{ width:299px; color:#000;}
.trans_ck{ width:16px; height:16px; float:left; display:block; margin-right:0px; *margin-right:5px;_margin-right:0px; margin-top:2px; *margin-top:-2px;}
.trans_black{ color:#333; margin-right:10px}
.trans_hui{ color:#999;}

.transb{ background:url(../images/integral/transb.gif) no-repeat center center; width:16px; height:16px; display:block; position:absolute; top:13px; left:2px;}
.trans_text{ width:750px; float:left; margin-top:10px }
.trans_text textarea{ width:745px; border-top:1px solid #9CA5B4;border-left:1px solid #9CA5B4;border-right:1px solid #C2C8CF;border-bottom:1px solid #C2C8CF; height:70px; color:#000;}
.trans_integ{ width:750px; float:left; margin-top:10px; color:#666;}
.trans_integ strong{ color:#F60; font-size:18px; padding-right:5px; padding-left:5px;}
.trans_submit input{ background:url(../images/integral/submit.jpg) no-repeat; width:131px; height:33px; color:#FFF; font-size:18px; border:0px; margin-top:10px; margin-bottom:20px; font-weight:lighter}
.transc{background:url(../images/integral/transc.gif) no-repeat center center; width:16px; height:16px; display:block; position:absolute; top:13px; left:2px;}

.trans_right ul{ width:411px; float:left; overflow:hidden;}
.trans_right ul li{ width:411px; float:left; padding:5px; padding-right:0px; padding-top:10px; padding-bottom:0px;}
.trans_right ul li span{ width:65px; height:65px; border:1px solid #E7E7E7; float:left;}
.trans_right ul li span img{ width:65px; height:65px;}
.trans_right ul li h2{ width:334px; float:left; font-size:12px; padding-left:8px;}
.trans_right ul li h2 a{ display:block; color:#777; }

.trans_right ul li i{ width:200px; display:block; padding-left:8px; float:left; color:#999}
.trans_right ul li i strong{ color:#FE4E13; font-size:14px; margin-top:5px;} 
.integ_sucess{ width:1200px; float:left; overflow:hidden; margin-top:20px; padding-bottom:20px; background:url(../images/integral/success.jpg) no-repeat no-repeat center 10px;}
.integ_sucbox{ width:1200px; float:left; border:1px solid #E4E4E4; overflow:hidden; margin-top:10px;}
.success_ok{ color:#534F4C; display:block; text-align:center; margin-top:150px; font-size:24px;}
.index_width{ width:1002px; float:left; overflow:hidden;}
.integ_cost b{ width:600px; float:left; height:20px; line-height:20px;}
